<div class="container-fluid-1 bg-1 text-left">
  <h1>Tema Agregado</h1>
</div>

<div class="d-flex flex-row-reverse mt-4">
  <%= link_to "Inicio", root_path, :class => "btn btn-info btn-lg mx-2" %>

  <%= link_to "Agregar nuevo", new_topic_path, :class => "btn btn-info btn-lg mx-2" %>

  <%= link_to "Atras", topics_path, :class => "btn btn-info btn-lg mx-2" %>
</div>

<div class="container bg-2 text-center mt-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tema</th>
        <th scope="col">Materia</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @topic.name_topic %></td>
        <td><%= @topic.subject.name_subject %></td>
        <td><%= link_to 'Editar', edit_topic_path(@topic) %></td>
        <td><%= link_to 'Eliminar', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
</div>