<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "Exam Generator", '#', id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio",   '#' %></li>
        <li><%= link_to "Generar Examen",   '#' %></li>
        <li><%= link_to "Agregar Reactivo", '#' %></li>
        <li><%= link_to "Mis Examenes", '#' %></li>
        <li><%= link_to "Modificar Reactivos", '#' %></li>
        <li><%= link_to "Users", users_path %></li>
        </ul>
    </nav>
    </div>
</header>
<div class="container">
    <%= yield %>
</div>
</body>