<div class="container-fluid-1 bg-1 text-left">
  <h1>Exam Generator</h1>
</div>

<div class="container-fluid-2 text-center">
    
    <%= link_to "Mis Examenes", exams_path,
      :class => "btn btn-home btn-info btn-lg" %>

    <%= link_to "Generar Examen", new_exam_path,
      :class => "btn btn-home btn-info btn-lg" %>

    <%= link_to "Mis Reactivos", reactives_path,
      :class => "btn btn-home btn-info btn-lg" %>

    <%= link_to "Agregar Reactivo", new_reactive_path,
      :class => "btn btn-home btn-info btn-lg" %>

    <%= link_to "Mis materias", subjects_path,
      :class => "btn btn-home btn-info btn-lg" %>
    
    <%= link_to "Agregar materia", new_subject_path,
      :class => "btn btn-home btn-info btn-lg" %>

    <%= link_to "Mis Temas", topics_path,
      :class => "btn btn-home btn-info btn-lg" %>

    <%= link_to "Agregar Tema", new_topic_path,
      :class => "btn btn-home btn-info btn-lg" %>
</div>