<%= simple_form_for(@reactive, url: url, method: http_method) do |f| %>
    <%= f.association :topic, collection: Topic.all, label: "Topic", placeholder: 'Topic', error: 'El topic es obligatoria' %>
    <%= f.input :text, label: "Pregunta", placeholder: 'Contenido de pregunta', error: 'La pregunta es obligatoria' %>
    <div class="row justify-content-center">
        <%= f.collection_radio_buttons :reactive_type, Reactive.reactive_types, :second, :first %>
    </div>
    <div row>
        <h5> Respuestas </h5>
        <%= f.simple_fields_for(:options) do |option| %>
        <%= option.input :answer, label: false, placeholder: "Respuesta", error: 'El campo es obligatoria' %>
        <%= option.input :isAnswer, label: "Correcta", error: 'El campo es obligatoria' %>
        <% end %>
    </div>
    <%= f.button :submit, class: "btn btn-info btn-lg mx-2",
                 value: "#{f.object.new_record? ? 'Crear' : 'Guardar'}" %>
<% end %>