<div class="container-fluid-1 bg-1 text-left">
  <h1>Mis Reactivos</h1>
</div>

<div class="d-flex flex-row-reverse mt-4">
<%= link_to "Inicio", root_path,
      :class => "btn btn-info btn-lg mx-2", :method => :get %>
</div>

<div class="container bg-2 text-center mt-5">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Materia</th>
      <th scope="col">Tema</th>
      <th scope="col">Pregunta</th>
      <th scope="col">Formula</th>
      <th scope="col">Tipo</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th colspan="6"></th>
    </tr>
  </thead>

<tbody>
<% @reactives.each do |reactive| %>
  <tr>
    <td><%= reactive.topic.subject.name_subject %></td>
    <td><%= reactive.topic.name_topic %></td>
    <td><%= reactive.text %></td>
    <td><%= reactive.formula %></td>
    <td><%= reactive.reactive_type %></td>
    <td><%= link_to 'Mostrar', reactive %></td>
    <td><%= link_to 'Edit', edit_reactive_path(reactive) %></td>
    <td><%= link_to 'Eliminar', reactive, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

