 <div class="container-fluid-1 bg-1 text-left">
  <h1>Editar materia</h1>
</div>

<div class="d-flex flex-row-reverse mt-4">
<%= link_to "Inicio", root_path,
      :class => "btn btn-info btn-lg mx-2", :method => :get %>
<%= link_to "Agregar materia", new_subject_path,
      :class => "btn btn-info btn-lg mx-2", :method => :get %>
<%= link_to "Mis materias", subjects_path,
      :class => "btn btn-info btn-lg mx-2", :method => :get %>
</div>

<div class="container bg-2 text-center mt-5">
  <div class="row">
    <div class="col-sm">
      <%= simple_form_for @subject, url: subjects_path, local: true do |f| %>
        <%= f.input :name_subject, label: "Materia", placeholder: 'Nombre de la materia', error: 'El nombre de la materia es obligatoria' %>
        <%= f.button :submit, class: "btn btn-info btn-lg mx-2"  %>
      <% end %>
    </div>  
  </div>
</div>