<div class="container-fluid-1 bg-1 text-left">
  <h1>Mis Materias</h1>
</div>

<div class="d-flex flex-row-reverse mt-4">
<%= link_to "Inicio", root_path, :class => "btn btn-info btn-lg mx-2" %>

<%= link_to "Agregar Materia", new_subject_path, :class => "btn btn-info btn-lg mx-2" %>
</div>

<div class="container bg-2 text-center mt-5">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Materia</th>
      <th scope="col">Mostrar</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name_subject %></td>
        <td><%= link_to 'Mostrar', subject %></td>
        <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
        <td><%= link_to 'Eliminar', subject, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>